<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="{{ url_for('static', filename='dist/style.css') }}" rel="stylesheet">
</head>

<body>
  <form method="POST" action="/" enctype="multipart/form-data">
    <label for="formula">Formula (optional):</label>
    <input type="text" id="formula" name="formula">
    <label for="cif">Upload CIF File:</label>
    <input type="file" id="cif" name="cif" accept=".cif">
    <button type="submit">Predict</button>
</form>
  {% if prediction %}
    <p><strong>Prediction:</strong> {{ prediction }}</p>
  {% endif %}

  {% if error %}
    <p style="color: red;">{{ error }}</p>
  {% endif %}
</body>

</html>
